/* Define the local class for the map container */
.mapContainer {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: var(--color-dark--2);
  position: relative;
}

/* Define the local class for the map itself */
.map {
  height: 100%;
  width: 100%;
}

/* Use a class selector instead of :global */
.leaflet-popup-global .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

/* Repeat for other Leaflet popup classes */
.leaflet-popup-global .leaflet-popup-content {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leaflet-popup-global .leaflet-popup-content span:first-child {
  font-size: 2.5rem;
  line-height: 1;
}

.leaflet-popup-global .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.leaflet-popup-global .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
